--extra-index-url https://download.pytorch.org/whl/cu126
dashscope==1.24.7
docx==0.2.4
fastapi==0.115.0
fastmcp==2.13.3
Flask==3.1.2
flask-cors==6.0.2
langchain-community==0.3.18
langchain-core==0.3.77
# langchain-mcp-adapters==0.2.1
langchain-openai==0.2.14
langchain-text-splitters==0.3.11
langgraph==0.2.76
lightrag==0.1.0b6
lightrag-hku==1.4.9.11
matplotlib==3.10.8
numpy>=1.26.4,<2.0.0
pandas==2.3.3
pillow==12.2.0
pydantic==2.12.3
pymongo==4.16.0
python-dotenv==1.2.1
python-docx==1.0.1
torch==2.11.0+cu126
torchvision==0.26.0+cu126
uvicorn==0.35.0